{% extends 'base.html' %}

{% block content %}
    {% for project in projects %}
        <div class="card mb-3">
            <div class="card-header">
                Featured
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ project.title }}</h5>
                <p class="card-text">{{ project.description|truncatechars:500 }}</p>
                <a href="{% url 'project-detail' project.pk %}" class="btn btn-primary">Go somewhere</a>
            </div>
            <div class="card-footer">
                Date: {{ project.created_at|date:"F j, Y, g:i a" }}
            </div>
        </div>
    {% endfor %}
{% endblock %}